.user-date {
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  &__time {
    font-size: 100px;
    @include tablet {
      @include tabletSize(font-size, 100, 80);
    }
  }
  &__date {
    font-size: 50px;
    @include tablet {
      @include tabletSize(font-size, 50, 40);
    }
  }
}
