.greeting {
  &__wrapper {
    display: none;
    justify-content: center;
    align-items: center;
  }
  &__title {
    user-select: none;
    color: #ffffff;
    font-size: 4em;
    margin-right: 20px;
  }
  &__name-input {
    width: 360px;
    outline: none;
    color: #ffffff;
    font-size: 4em;
    border: none;
    background-color: rgba(128, 128, 128, 0);

    &::placeholder {
      color: rgb(74, 74, 74);
    }
  }
}
